{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block main_container %}
<h1> Lorum Ipsum </h1>
<p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est dui, malesuada id nibh vel, cursus porttitor felis. Praesent ut augue in est mattis placerat. Aliquam in consectetur risus. Pellentesque pharetra massa ut eros auctor ullamcorper. Sed lobortis ultrices turpis, tristique imperdiet velit hendrerit vel. Nunc a erat non massa varius ornare quis nec turpis. Suspendisse non hendrerit enim, in euismod leo.
</p>
<p>
    Sed id iaculis enim. In laoreet eros quis purus vestibulum, eget commodo justo fermentum. Proin ultrices lacinia neque, sed vehicula ipsum elementum at. Integer ornare hendrerit neque. Donec aliquam tincidunt facilisis. Duis luctus congue tellus vitae pretium. Praesent vitae ante elit. Phasellus quis lacus vulputate, condimentum turpis a, semper lorem. Morbi condimentum suscipit neque quis lacinia. Pellentesque ultricies feugiat risus in iaculis. Proin ac volutpat nunc. Phasellus finibus odio eget congue interdum. Mauris iaculis metus eu diam volutpat, et faucibus lorem venenatis.
</p>
{% endblock %}