<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Spectral:wght@700&display=swap" rel="stylesheet">

    <title>{%block title %} {% endblock %}</title>
</head>
<body>
    <!-- Head container -->
    <div class="head-container"> 
        <div>
            <p>
                SALE! Register now, and get <span style="text-decoration: underline;"> 3 months for free </span> on a yearly subscription!
            </p>
        </div>
    </div>

    <!-- Navigation container -->
    <div class="nav-container">
        <div id="logo"> 
            <img src="../static/images/logont_full.png" width="150" alt="Company logo containing a globe and a cursor" />
        </div>
    
        <div class="navbar">
            <a href="{{ url_for('views.home') }}" class="navbar-item">Home</a>
            <a href="" class="navbar-item">About</a>
            <a href="" class="navbar-item">Notes</a>
            <a href="" class="navbar-item">Contact</a>
            {% if loggedin == True %}
            <button class="button-cta"><a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a></button>
            {% else %}
            <button class="button-cta"><a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a></button>
            {% endif %}
        </div>
    </div>

    <!-- Main container -->
    <div class="main-container">
        {% block maincontainer %}

        {% endblock %}
    </div>
    
    <div>
        {% block extendedcontainers %}

        {% endblock %}
    </div>

    <!-- Footer container -->
    <div class="footer-container">
        Placeholder txt
    </div>
</body>
</html>