{% extends "base.html" %}

{%block title %} 
Homepage 
{% endblock %}

{% block maincontainer %}
<p> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec ipsum ligula. Donec pharetra tempor massa, ullamcorper scelerisque ipsum ornare quis. Donec eget eros vel nibh pharetra lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sodales est sed nisl ultrices fringilla. Sed id dolor eget sem auctor placerat. Curabitur vitae leo massa. Praesent turpis nisl, posuere ac sem sit amet, bibendum aliquam leo. 
    Donec ac libero quis nunc ullamcorper bibendum ac quis odio. Duis quis scelerisque mauris. Ut eu libero suscipit urna sodales ullamcorper eu eu dui. Pellentesque dolor magna, rhoncus vitae enim id, tempor feugiat justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
    Pellentesque vulputate dui nec ex sagittis tristique. Duis volutpat non mauris vitae tincidunt. Nulla pellentesque velit ullamcorper aliquam lobortis. Nunc sit amet interdum lorem, vel sagittis nulla. Mauris vitae ex vitae neque mattis sagittis. Aenean id odio in quam dignissim rutrum. Mauris tincidunt dolor nisl, ac condimentum risus blandit in. Nullam facilisis tortor ut metus accumsan consequat. Maecenas viverra nec erat placerat mollis.
</p>

<img src="../static/images/desk.jpg" alt="Desk with coffee and a laptop" id="homeimage" />

{% endblock %}

{% block extendedcontainers %}
<div class="second-container">

</div>
<div class="third-container">

</div>
<div class="fourth-container">

</div>
<div class="fifth-container">

</div>
{% endblock %}