{% extends "base.html" %} 
{% block title %} Signup {% endblock %}
{% block maincontainer %}
<div>
    <form method="POST">
        <h3> Sign up </h3>
        <div> 
            <label for="email">Email Adress</label>
            <input 
                type="email" 
                id="signup_email" 
                name="signup_email" 
                placeholder="Email"
            />
        </div>
        <div>
            <label for="firstname">Firstname</label>
            <input 
                type="text" 
                id="signup_firstname" 
                name="signup_firstname" 
                placeholder="Firstname"
            />
        </div>
        <div>
            <label for="age">Age</label>
            <input 
                type="number"
                id="signup_age" 
                name="signup_age" 
                placeholder="Age"
            />
        </div>
        <div> 
            <label for="password">Password</label>
            <input 
                type="password" 
                id="signup_password" 
                name="signup_password" 
                placeholder="Password"
            />
        </div>
        <div> 
            <label for="password-confirmation">Confirm Password</label>
            <input 
                type="password" 
                id="signup_password_confirmation" 
                name="signup_password_confirmation" 
                placeholder="Confirm Password"
            />
        </div>
        <br>
        <div>
        <button type="submit"> Register </button>
        </div>



    </form>
</div>
{% endblock %}
